<%- include('header') -%>

<div class="jumbotron">
    <div class="container">
        <h1>Not found</h1>
        <p>Moreover, the 404 page is also under construction :(</p>
    </div>
</div>


<%- include('footer') -%>

