<%- include('header') -%>

<div class="jumbotron">
    <div class="container">
        <h1>Under developement</h1>
        <p>This page is under developement</p>
    </div>
</div>

<%- include('footer') -%>
