<%- include('header') -%>

<div id="content"></div>

<script src="/project.bundle.js"></script>
<script>
window.onload = function() {
    window.project.render(<%= id %>)
}
</script>

<%- include('footer') -%>
