<%- include('header') -%>

<div id="content"></div>

<script src="/task.bundle.js"></script>
<script>
window.onload = function() {
    window.task.render(<%= id %>)
}
</script>

<%- include('footer') -%>
