body {
    padding-top: 30px;
}

.navbar {
    min-height: 30px;
}

.navbar-brand {
    height: 30px;
}

.navbar-nav>li>a {
    padding-top:5px;
    padding-bottom:5px;
    line-height: 20px;
}
.navbar-brand {
    padding-top:5px;
    padding-bottom:5px;
    line-height: 20px;
}

.breadcrumb {
    background-color: transparent;
    margin-top: 0px;
    margin-bottom : 0px;
    padding: 8px 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

/*.sidebar {
    border-left: 1px solid #eee
}*/

.page-header {
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
