<%- include('header') -%>

<div id="content"></div>

<script src="/imports.bundle.js"></script>
<script>
window.onload = function() {
    window.imports.render("<%= source %>")
}
</script>

<%- include('footer') -%>
